.students-container {
  max-width: 1100px;
  margin: auto;
}

.modern-card {
  border-radius: 15px;
  border: none;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

.modern-card:hover {
  transform: translateY(-3px);
}
